# env & cache
.venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
*.log
.env

# local artifacts
chroma_db/
*.sqlite3

# streamlit & node (future FE)
.streamlit/
node_modules/

# Cloud config
.gcloud_config/
