# env & cache
.venv/
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
*.log
.env

# local artifacts
chroma_db/
*.sqlite3

# data (allow specific PDFs if you want)
guideline_documents/*
!guideline_documents/respiratory-stg-2024.pdf

# streamlit & node (future FE)
.streamlit/
node_modules/